<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>en"/>

    <title>Movies</title>
</head>

<div class="jumbotron" th:replace="fragmets/jumbotron :: jumbotron"></div>

<body>

<ul class="nav nav-pills admin-navbar" th:replace="fragmets/adminNavbar:: adminNavbar"></ul>

<div class="container-fluid" style="margin-top: 50px">
    <div class="col-md-3">
        <div class="listing listing-single">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-image-container">
                        <img role="presentation"
                             th:src="@{'/actor/' + ${actorDTO.id} + '/actorImage'}"
                             class="box-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="listing listing-single-info">
            <div class="panel-primary">
                <div class="panel-heading">
                    <div class="single-infos-title">
                        <h4 th:text="${actorDTO.firstName} + ' ' + ${actorDTO.lastName}"></h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td class="category-name">First Name</td>
                            <td class="category-name">Last Name</td>
                            <td class="category-name">Date of Birth</td>
                            <td class="category-name">Age</td>
                            <td class="category-name">Country</td>
                        </tr>
                        <tr>
                            <td class="category-info" th:text="${actorDTO.firstName}"></td>
                            <td class="category-info" th:text="${actorDTO.lastName}"></td>
                            <td class="category-info" th:text="${actorDTO.dateOfBirth}"></td>
                            <td class="category-info" th:text="${actorDTO.age}"></td>
                            <td class="category-info" th:text="${actorDTO.country}"></td>
                        </tr>
                    </table>
                    <div class="col-md-12" style="margin-top: 215px">
                        <div class="col-md-4 single-infos-buttons">
                            <a class="btn btn-info btn-lg" href="#" th:href="@{'/actor/' + ${actorDTO.id} + '/image'}"
                               role="button">Change Image</a>
                        </div>
                        <div class="col-md-4 single-infos-buttons">
                            <a class="btn btn-primary btn-lg" href="#" th:href="@{'/admin/actor/update/' + ${actorDTO.id}}"
                               role="button">Update Information's</a>
                        </div>
                        <div class="col-md-4 single-infos-buttons">
                            <a class="btn btn-danger btn-lg" href="#" th:href="@{'/admin/actor/delete/' + ${actorDTO.id}}" role="button">Delete Actor</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="listing single-info-secondary">
            <div class="panel-primary">
                <div class="panel-heading">
                    <div class="single-infos-title">
                        <h4>Actor Movies</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td class="category-name">Name</td>
                            <td class="category-name">Category</td>
                            <td class="category-name">Year</td>
                            <td class="category-name">Description</td>
                        </tr>
                        <tr th:each="movie : ${movies}">
                            <td class="category-info" th:text="${movie.name}"></td>
                            <td class="category-info" th:text="${movie.categoryDTO.name}"></td>
                            <td class="category-info" th:text="${movie.year}"></td>
                            <td class="category-info" th:text="${movie.description}"></td>
                            <td class="col-md-1">
                                <a class="btn btn-danger" href="#" th:href="@{'/admin/actor/' + ${actorDTO.id} + '/deleteMovie/' + ${movie.id}}" role="button">Remove</a>
                            </td>
                        </tr>
                    </table>
                    <div class="col-md-12 single-infos-buttons">
                        <a class="btn btn-success btn-lg" href="#" th:href="@{'/admin/actor/'+ ${actorDTO.id} + '/addMovies/page/1'}"
                           role="button">Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/custom.js}"></script>

</body>
</html>