<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>en"/>

    <title>Movies</title>
</head>
<div class="jumbotron" th:replace="fragmets/jumbotron :: jumbotron"></div>
<body>
<script>
    $(document).ready(function(){
        $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>

<ul class="nav nav-pills admin-navbar">
    <li><a href="#" th:href="@{'/'}" >Main Page</a></li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            News <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" type="button" th:href="@{'/news/sorted/asc/date/page/1'}" >Show All News</a></li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Sorted By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Date<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/news/sorted/asc/date/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/news/sorted/desc/date/page/1'}" >Descending</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Categories <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" th:href="@{'/categories/page/1'}" type="button">Show All Categories</a></li>
        </ul>
    </li>
    <li class="dropdown active">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Movies <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" type="button" th:href="@{'/movies/page/1'}" >Show All Movies</a></li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Sorted By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Name<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/name/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/name/page/1'}" >Descending</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Time<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/time/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/time/page/1'}">Descending</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Year<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/year/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/year/page/1'}">Descending</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Country<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/country/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/country/page/1'}">Descending</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Actors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" type="button" th:href="@{'/actors/page/1'}" >Show All Actors</a></li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Sorted By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Last Name<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/actors/sorted/asc/lastName/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/actors/sorted/desc/lastName/page/1'}" >Descending</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Date Of Birth<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/actors/sorted/asc/dateOfBirth/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/actors/sorted/desc/dateOfBirth/page/1'}">Descending</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Directors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Coming Soon</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Series <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Coming Soon</a></li>
        </ul>
    </li>
</ul>


<div class="container-fluid" style="margin-top: 50px">


    <div class="col-md-3">
        <div class="listing listing-single">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-image-container">
                        <img role="presentation"
                             th:src="@{'/actor/' + ${actor.id} + '/actorImage'}"
                             class="box-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="listing listing-single-info">

            <div class="panel-primary">
                <div class="panel-heading">
                    <div class="single-infos-title">
                        <h4 th:text="${actor.firstName} + ' ' + ${actor.lastName}"></h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td class="category-name">First Name</td>
                            <td class="category-name">Last Name</td>
                            <td class="category-name">Date of Birth</td>
                            <td class="category-name">Age</td>
                            <td class="category-name">Country</td>
                        </tr>
                        <tr>
                            <td class="category-info" th:text="${actor.firstName}"></td>
                            <td class="category-info" th:text="${actor.lastName}"></td>
                            <td class="category-info" th:text="${actor.dateOfBirth}"></td>
                            <td class="category-info" th:text="${actor.age}"></td>
                            <td class="category-info" th:text="${actor.country}"></td>
                        </tr>
                    </table>
                    <div class="single-info-description">
                        I can put here something like small infos about actor life/career
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="listing single-info-secondary">
            <div class="panel-info">
                <div class="panel-heading">
                    <div class="single-infos-title">
                        <h4>Actor Movies</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td class="category-name">Name</td>
                            <td class="category-name">Category</td>
                            <td class="category-name">Year</td>
                            <td class="category-name">Description</td>
                        </tr>
                        <tr th:each="movie : ${actorMovies}">
                            <td class="category-info" th:text="${movie.name}"></td>
                            <td class="category-info" th:text="${movie.categoryDTO.name}"></td>
                            <td class="category-info" th:text="${movie.year}"></td>
                            <td class="category-info" th:text="${movie.description}"></td>
                            <td class="col-md-1">
                                <a class="btn btn-info" href="#"
                                   th:href="@{'/movie/' + ${movie.id}}" role="button">Show</a>
                            </td>
                        </tr>
                    </table>
                    <div class="col-md-12 single-infos-buttons">
                        <a class="btn btn-primary btn-lg" href="#" th:href="@{'/actor/' + ${actor.id} +'/movies'}" role="button">Show All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="listing single-info-secondary">
            <div class="panel-info">
                <div class="panel-heading">
                    <div class="single-infos-title">
                        <h4>User Comments</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="single-info-description">
                        COMING SOON
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>