<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>en"/>

    <title>Movies World Home Page</title>
</head>
<div class="jumbotron" th:replace="fragmets/jumbotron :: jumbotron"></div>
<body>


<ul class="nav nav-pills admin-navbar">
    <li><a href="#" th:href="@{'/'}" >Main Page</a></li>
    <li class="dropdown active">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Categories <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" th:href="@{'/categories/page/1'}" type="button">Show All Categories</a></li>
            <li><a href="#" type="button">Something</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Movies <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" type="button" th:href="@{'/movies/page/1'}" >Show All Movies</a></li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Sorted By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#" th:href="@{'/movies/sorted/name/page/1/'}">Name</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Actors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" th:href="@{'/movies/page/1'}" type="button" >Show All Movies</a></li>
            <li><a href="#">Create New Movie</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Directors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Show All Movies</a></li>
            <li><a href="#">Create New Movie</a></li>
        </ul>
    </li>
</ul>


<script>
    $(document).ready(function(){
        $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>




<div class="row">
    <div class="col-md-12">
        <h1 class="category-header-2"> Categories</h1>
    </div>
</div>

<div class="container col-md-10 col-md-offset-1 movies-section" style="margin-top: 75px">
    <div class="row">
        <div class="row">
            <div th:each="category: ${categoriesDTOList}">
                <div th:replace="fragmets/categorydiv :: categorydiv">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" th:fragment="pagination">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                    <a class="page-link" th:href="@{|/categories/page/${pageNumber}|}" th:text=${pageNumber}>1</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>