<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CategoryDiv</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>


</head>
<body>
<!--/*@thymesVar id="category" type="adrianromanski.movies.domain.base_entity.Category"*/-->
    <div class="col-md-3" th:fragment="categorydiv">
        <div class="movies-listing">
            <div class="row">
                <a th:href="@{'/category/' + ${category.name} +'/page/1'}">
                    <div class="col-lg-12">
                        <div class="movies-box-image-container">
                            <img role="presentation"
                                 th:src="@{'/category/' + ${category.id} + '/categoryImage'}"
                                 class="movies-box-image">
                        </div>
                        <div class="movies-listing-title" th:text="${category.name}"></div>
                        <div class="movies-listing-description" th:text="${category.description}"></div>
                    </div>
                </a>
            </div>
                <div class="row movies-listing-extra-info">
                    <div class="small movie-author-name">
                        Total movies
                    </div>
                </div>
                <div class="row movies-listing-extra-info">
                    <div class="small movie-price">
                        120
                    </div>
                </div>
            </div>
        </div>

</body>
</html>