<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>


</head>
<body>
<!--/*@thymesVar id="movie" type="adrianromanski.movies.domain.base_entity.Movie"*/-->
<div class="col-md-3" th:fragment="moviediv">
    <div class="movies-listing">
        <div class="row">
            <a th:href="@{'/movie/' + ${movie.id}}">
                <div class="col-lg-12">
                    <div class="movies-box-image-container">
                        <img role="presentation"
                             th:src="@{'/movie/' + ${movie.id} + '/movieImage'}"
                             class="movies-box-image">
                    </div>
                    <div class="movies-listing-title" th:text="${movie.name}"></div>
                    <div class="movies-listing-description" th:text="${movie.description}"></div>
                </div>
            </a>
        </div>
        <div class="row movies-listing-extra-info">
            <div class="small movie-author-name">
                Time
            </div>
        </div>
        <div class="row movies-listing-extra-info">
            <div class="small movie-price">
                120 min
            </div>
        </div>
    </div>
</div>

</body>
</html>