<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>


</head>
<body>
<!--/*@thymesVar id="movie" type="adrianromanski.movies.domain.base_entity.News"*/-->
<div class="col-md-12" th:fragment="newsdiv">
    <div class="listing listing-home">
        <div class="row">
            <a th:href="@{'/news/' + ${news.id}}">
                <div class="col-lg-12">
                    <div class="listing-title" th:text="${news.name}"></div>
                    <div class="listing-description-home" th:text="${news.description}"></div>
                </div>
            </a>
        </div>


    </div>
</div>

</body>
</html>