.jumbotron {
    background: url('../images/jumbotron.jpg') no-repeat center center;
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background-size: cover;
    text-align: center;
}

.sci-fi-banner {
    background: url("../images/banners/sci-fi-banner.jpg") no-repeat center center;
    height: 550px;
    width: auto;
    text-shadow: #444 0 1px 1px;
    background-size: cover;
    text-align: center;
    opacity: inherit;
}


body {
    background-size: auto;
    background-image: linear-gradient(to bottom,
    #141E30, #2980b9);
    background-repeat: no-repeat;
    color: lightslategrey;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857;
    min-height: 1500px;
    max-height: max-content;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

*::before, *::after {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

.view-directory .movies-listing {
    background-color: rgba(255, 255, 255, 0.7);
}


* {
    box-sizing: border-box;
}



img {
    vertical-align: middle;
}

img {
    border: 0 none;
}
/*MOVIES*/
.movies-listing {
    background-color: #f7f7f7;
    border: 1px solid #f1f3f0;
    border-radius: 9px;
    box-shadow: 0 1px #f1f3f0;
    cursor: pointer;
    height: 675px;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.movies-listing .movies-listing-extra {
    display: flex;
    margin-top: auto;
    color: #4169E1 !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    justify-content: space-around;
}

.movies-listing .movies-listing-extra-item {
    margin-top: auto;
    color: #4169E1 !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
}

.movies-listing .movies-box-image-container {
    /*max-height: 220px;*/
    overflow: hidden;
    display: block;
    background-size: cover;
}

.movies-listing .movies-box-image-container .movies-box-image {
    border-bottom: 1px solid #ededed;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: block;
    margin: auto;
    width: 100%;
    height: 450px;
    background-size: cover;
}


.movies-listing .movies-listing-title {
    color: #4169E1;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    max-height: 70px;
    overflow: hidden;
    padding: 16px 16px 4px;
}

.movies-listing .movies-listing-description {
    color: #586f6f;
    font-size: 14px;
    font-weight: 200;
    max-height: 100px;
    overflow: hidden;
    padding: 5px 15px;
}

.movies-listing .movies-listing-extra-info .movie-price {
    color: #4169E1 !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    margin-right: 70px;
    margin-top: -18px;
    text-align: right;
}

.movies-listing .movies-listing-extra-info .movie-author-name {
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
    max-height: 30px;
    margin-top: 4px;
    margin-right: 40px;
    margin-bottom: 5px;
    text-align: right;
}


/*REGISTRATION*/

.input-name {
    text-align: right;
}

.registration-form {
    margin-top: 100px;
}

/*Create Category*/

.category-name {
    text-transform: uppercase;
    font-weight: 500;
    color: #2980b9;
}

/*Select File*/

.select-file {
    margin-top: 12px;
}

/*Category Header*/
.category-header {
    text-transform: uppercase;
    font-weight: 700;
    color: whitesmoke;
}

.category-header-2{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

/*Admin NavBar*/

.admin-navbar {
    font-size: 30px;
}


/*User Home Page*/
.home-listing {
    background-color: #f7f7f7;
    border: 1px solid #f1f3f0;
    border-radius: 9px;
    box-shadow: 0 1px #f1f3f0;
    cursor: pointer;
    height: 250px;
    margin-bottom: 50px;
    padding: 0;
}


.home-listing .home-listing-title {
    color: #4169E1;
    font-size: 35px;
    font-weight: bold;
    line-height: 25px;
    max-height: 75px;
    overflow: hidden;
    padding: 16px 16px 35px;
}

.home-listing .home-listing-description {
    color: #586f6f;
    font-size: 30px;
    font-weight: 200;
    max-height: 100px;
    overflow: hidden;
    padding: 5px 15px;
}

.home-listing .home-listing-extra-info .home-price {
    color: #4169E1 !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    margin-right: 70px;
    margin-top: -18px;
    text-align: right;
}

.home-listing .home-listing-extra-info .home-author-name {
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
    max-height: 30px;
    margin-top: 4px;
    margin-right: 40px;
    margin-bottom: 5px;
    text-align: right;
}

.home-listing .home-box-image-container {
    /*max-height: 220px;*/
    overflow: hidden;
    display: block;
    background-size: cover;
}

.home-listing .home-box-image-container .home-box-image {
    border-bottom: 1px solid #ededed;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: block;
    margin: auto;
    width: 100%;
    height: 450px;
    background-size: cover;
}

/*SHOW SINGLE MOVIE*/

.single-movie-listing {
    background-color: #f7f7f7;
    border: 2px solid #f1f3f0;
    border-radius: 9px;
    box-shadow: 0 1px #f1f3f0;
    height: 650px;
    margin-bottom: 50px;
    padding: 0;
}

.single-movie-infos {
    background-color: #f7f7f7;
    border: 2px solid #f1f3f0;
    border-radius: 9px;
    box-shadow: 0 1px #f1f3f0;
    height: 651px;
    margin-bottom: 50px;
    padding: 0;
}

.single-movie-infos .single-movie-infos-title {
    font-weight: bold;
    line-height: 25px;
    max-height: 75px;
    overflow: hidden;
    text-transform: uppercase;
}

.single-movie-infos .single-movie-infos-description {
    /*background-color: pink;*/
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 40px;
    min-height: 165px;
    overflow: hidden;
}

.single-movie-infos .single-movie-infos-additional {
    text-align: right;
    background-color: pink;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    line-height: 20px;
    min-height: 30px;
    overflow: hidden;
}

.single-movie-infos .single-movie-infos-actors {
    background-color: yellowgreen;
    font-weight: bold;
    margin-top: 10px;
    line-height: 25px;
    min-height: 165px;
    overflow: hidden;
}

.single-movie-infos .single-movie-infos-awards {
    background-color: red;
    font-weight: bold;
    margin-top: 10px;
    line-height: 25px;
    min-height: 165px;
    overflow: hidden;
}

/*.single-movie-listing .single-movie-listing-description {*/
/*    color: #586f6f;*/
/*    font-size: 30px;*/
/*    font-weight: 200;*/
/*    max-height: 100px;*/
/*    overflow: hidden;*/
/*    padding: 5px 15px;*/
/*}*/

/*.single-movie-listing .single-movie-listing-extra-info .single-movie-price {*/
/*    color: #4169E1 !important;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    line-height: 34px;*/
/*    margin-right: 70px;*/
/*    margin-top: -18px;*/
/*    text-align: right;*/
/*}*/

/*.single-movie-listing .single-movie-listing-extra-info .single-movie-author-name {*/
/*    font-size: 15px;*/
/*    font-weight: 200;*/
/*    line-height: 30px;*/
/*    max-height: 30px;*/
/*    margin-top: 4px;*/
/*    margin-right: 40px;*/
/*    margin-bottom: 5px;*/
/*    text-align: right;*/
/*}*/

/*.single-movie-listing .single-movie-box-image-container {*/
/*    !*max-height: 550px;*!*/
/*    overflow: hidden;*/
/*    display: block;*/
/*    background-size: cover;*/
/*}*/

.single-movie-listing .single-movie-box-image-container .single-movie-box-image {
    border-bottom: 1px solid #ededed;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: block;
    margin: auto;
    width: 100%;
    height: 650px;
    background-size: cover;
}



