<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>Movies World Home Page</title>
</head>

<div class="jumbotron" th:replace="fragmets/jumbotron :: jumbotron">
    <div class="container">
        <h1>Something went wrong</h1>
        <p class="lead">Something went wrong</p>
    </div>
</div>

<body>

<div class="container movies-section">
    <div class="row">
        <div class="col-md-12">
            <h1>Categories</h1>
        </div>
    </div>

    <div class="row course-list list">

        <div class="col-md-4">
            <div class="movies-listing">
                <div class="row">
                    <a href="/fantasy">
                        <div class="col-lg-12">
                            <div class="movies-box-image-container">
                                <img role="presentation"
                                src="images/fantasy.jpg"
                                class="movies-box-image">
                            </div>
                            <div class="movies-listing-title">
                                Fantasy
                            </div>
                            <div class="movies-listing-subtitle">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac felis libero.
                                Etiam facilisis, felis vel congue aliquet, magna purus euismod augue, pharetra varius ipsum dui in metus.
                                Nunc rutrum vehicula lorem, sed iaculis orci interdum at. Etiam turpis ipsum, laoreet ut sodales auctor, suscipit ac augue.
                                Vestibulum mollis scelerisque mi, vitae fermentum velit mattis eu.
                                Donec auctor porttitor magna eu fringilla. Nunc vel consequat ipsum.
                                In feugiat nunc vitae nisl ultricies, quis mattis erat ornare. Vestibulum pellentesque blandit facilisis.
                                Praesent sit amet orci varius, dictum augue sed, tristique tortor. Nullam pretium ex a erat accumsan sollicitudin.
                                Sed lobortis, ante in pellentesque euismod, justo elit ultricies nulla, nec gravida libero sapien ut urna.
                            </div>
                        </div>
                    </a>
                <div class="row movies-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <div class="small movie-author-name">
                            Total movies
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="small movie-price">
                           120
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>



</body>
</html>