<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>en"/>

    <title>Movies</title>
</head>
<div class="jumbotron" th:replace="fragmets/jumbotron :: jumbotron"></div>
<body>
<script>
    $(document).ready(function(){
        $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>

<ul class="nav nav-pills admin-navbar">
    <li><a href="#" th:href="@{'/'}" >Main Page</a></li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Categories <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" th:href="@{'/categories/page/1'}" type="button">Show All Categories</a></li>
        </ul>
    </li>
    <li class="dropdown active">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Movies <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" type="button" th:href="@{'/movies/page/1'}" >Show All Movies</a></li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#">Sorted By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Name<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/name/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/name/page/1'}" >Descending</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Time<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/time/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/time/page/1'}">Descending</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Year<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/year/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/year/page/1'}">Descending</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="test" href="#">Country<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{'/movies/sorted/asc/country/page/1'}">Ascending</a></li>
                            <li><a href="#" th:href="@{'/movies/sorted/desc/country/page/1'}">Descending</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Actors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" th:href="@{'/actors/page/1'}" type="button" >Show All Actors</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Directors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Coming Soon</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" data-target="#" href="http://www.google.com">
            Series <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Coming Soon</a></li>
        </ul>
    </li>
</ul>


<div class="container-fluid" style="margin-top: 50px">


<div class="col-md-3">
    <div class="single-movie-listing">
        <div class="row">
                <div class="col-lg-12">
                    <div class="single-movie-box-image-container">
                        <img role="presentation"
                             th:src="@{'/movie/' + ${movie.id} + '/movieImage'}"
                             class="single-movie-box-image">
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="single-movie-infos">

        <div class="panel-primary">
           <div class="panel-heading">
               <div class="single-movie-infos-title">
                   <h4 th:text="${movie.name}"></h4>
               </div>
           </div>
           <div class="panel-body">
               <div class="single-movie-infos-description"
               th:text="${movie.description}">
               </div>
               <div class="single-movie-infos-additional">
                   <div class="col-md-4">Minutes</div>
                   <div class="col-md-4">Country</div>
                   <div class="col-md-4">Year</div>
               </div>
               <div class="single-movie-infos-additional">
                   <div class="col-md-4" th:text="${movie.time}"></div>
                   <div class="col-md-4" th:text="${movie.country}"></div>
                   <div class="col-md-4" th:text="${movie.year}"></div>
               </div>
           </div>
        </div>

            <div class="col-md-12 single-movie-infos-buttons">
                <a class="btn btn-primary btn-lg" href="#" th:href="@{'/movie/' + ${movie.id} +'/actors'}" role="button">Show Actors</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Show Director</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Show Awards</a>
            </div>

<!--            <div class="col-md-4 single-movie-infos-buttons">-->
<!--                <a class="btn btn-primary btn-lg" href="#" role="button">Show Director</a>-->
<!--            </div>-->
<!--            <div class="col-md-4 single-movie-infos-buttons">-->
<!--                <a class="btn btn-danger btn-lg" href="#" role="button">Show Awards</a>-->
<!--            </div>-->

<!--               <div class="single-movie-infos-actors">-->
<!--               ACTORS-->
<!--               </div>-->
<!--               <div class="single-movie-infos-awards">-->
<!--                   <div class="col-md-4">-->
<!--                       <a class="btn btn-info btn-lg" href="#" role="button">Show Actors</a>-->
<!--                   </div>-->
<!--                   <div class="col-md-4">-->
<!--                       <a class="btn btn-primary btn-lg" href="#" role="button">Show Director</a>-->
<!--                   </div>-->
<!--                   <div class="col-md-4">-->
<!--                       <a class="btn btn-danger btn-lg" href="#" role="button">Show Awards</a>-->
<!--                   </div>-->
<!--               </div>-->
    </div>
</div>
    <div class="col-md-12">
        <div class="single-movie-infos">
            <div class="panel-info">
                <div class="panel-heading">
                    <div class="single-movie-infos-title">
                        <h4>User Comments</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="single-movie-infos-description">
                        COMING SOON
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
</body>
</html>